Hello Let's create a new event! Shall we
<h1><%=@sponsee %></h1>
<sub><%= @sponsee.role%></sub>
<br>
<%=link_to 'Log out', user_registration_path,  method: :delete, data: { confirm: 'Are you sure?' } %>
<br>
<br>
<%=link_to  "Preview Page" %>
<%= form_for @event, url: events_path, html: { multipart: true } do |f| %>
  <!-- select_tag "people", options_for_select(@people.collect {|p| [ p['name'], p['id'] ] })-->
  <%= f.label 'Headline'%>
  <%= f.text_field :headline %>
  <br>
  <%= f.label 'Event Category'%>
  <%= f.select :category_type, options_for_select(category_hash(Category::Type))%>
  <br>
  <%= f.label 'Description' %>
  <%= f.text_field :description %>
  <br>
  <%= f.label 'Date' %>
  <%= f.date_select :date %>
  <br>
  <%= f.label 'Time' %>
  <%= f.time_select :time, {:ampm => true} %>
  <br>
  <%= f.label 'Upload An Event Picture'%>
  <%= f.file_field :place%>
  <br>
  <%= f.submit 'Submit Event'%>
<%end%>
